extends layout

block title
  | Jacob Wirth - WebGL Shadows

block content
  #frustra
    canvas#title.glshadowtext(width='700', height='85') Frustra Projects
    .glshadow.project#watdo
    .glshadow.project#portal2
    .glshadow.project#mycraft
    canvas#test.glshadowtext(width='200', height='85') Test
    .glshadow.project#tetrus
  #personal
  #early
  #bits