extends layout

block title
  | Jacob Wirth - WebGL Shadows

block content
  .category#frustra
    .glshadow.project#modsio
      a(href='https://mods.io/')
        img.landscape(src='/files/modsio.png')
    .glshadowtext.title: canvas(width='700', height='100') Frustra Projects
    .glshadow.project#watdo
      a(href='http://wat-do.com/')
        img.landscape(src='/files/watdo2.png')
    .glshadow.project#portal2
      a(href='http://portal2sounds.com/')
        img.portrait(src='/files/portal2.jpg')
    .glshadow.project#mycraft
    .glshadow.project#tetrus
  #personal
  #early
  #bits