extends layout

block title
  | Jacob Wirth - WebGL Shadows

block content
  #frustra
    canvas.glshadowtext(width='700', height='85') Frustra Projects
    .glshadow.project#watdo
    .glshadow.project#portal2
    .glshadow.project#mycraft
    .glshadow.project#tetrus
  #personal
  #early
  #bits