doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title
      block title
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    link(type='text/css', rel='stylesheet', href='/master.css')
    meta(name='author', content='Jacob Wirth')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block head

  body
    #overlay
      header#header
        nav
          ul
            li
              a(href='#') Stuff
            li
              a(href='#') Stuff2
            li
              a#start(href='#') Start Shadows
        #glinfo
      block content
    #tint
    canvas#glcanvas(width='640', height='480')
      | Your browser doesn't appear to support the HTML5 &lt;canvas&gt; element.
    script(src='/js/shadows.js')
