doctype html
html
  head
    title Jacob Wirth
    //if lt IE 9
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    link(type='text/css', rel='stylesheet', href='/resume.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style(media='print').
      a {
        border: none !important;
      }
      h2 {
        background: none !important;
        color: black !important;
        border: solid 1px black !important;
      }
      body {
        width: 700px;
        font-size: 13px;
      }
      body > article > section {
        margin-left: 5px;
      }

  body
    header
      h1 Jacob Wirth

      table
        tr
          th.left May 2017
          th
          th.right Contact:
        tr
          td.left Home Address: Ottawa ON, Canada
          td Github: xthexder
          td.right jacob@wirth.io
        tr
          td.left School Address: Waterloo ON, Canada
          td: a(href='http://code.jacobwirth.ca/') code.jacobwirth.ca
          td.right (226) 600-6547

    article
      h2 Technical Qualifications

      section.first
        :markdown
          * Programming Experience
            * Proficient in a wide variety of languages,  
            including C/C++, Java, Go, and Ruby
            * Experience in low-level programming
              * Assembly experience for JVM, ARM, x86
              * Reverse engineering experience
            * Concurrent and multi-threaded design
            * Automated software testing and automation
            * HTTP and network protocols
            * Graphics and GPU programming (OpenGL, GLSL)
            * Bash and shell scripting for unix-based systems
            * Source control using Git, Mercurial and SVN

      section
        :markdown
          * Web Experience
            * Experience with both client and server-side  
            applications using various libraries
              * Go, Node.js, Ruby, PHP
              * Web Services: Nginx, Varnish, Apache
          * Databases
            * MySQL, Sqlite, PostgreSQL, MongoDB
          * Hardware Experience
            * Programming embedded systems
            * Circuit design / assembly, board design, soldering
            * Hardware debugging with various equipment

    article
      h2 Education

      :markdown
        * Candidate for Bachelor of Software Engineering - Co-op Program
          * University of Waterloo  
            September 2012 - April 2017

    article#work-experience
      h2 Work Experience

      :markdown
        ### Shopify Inc - Developer Intern
        * September 2016 - December 2016 (Data Infrastructure Team)
          * Created a software license server proxy to allow for better license control
          * Set up automated cluster deployments using Chef and Cloudera
          * Continued to maintain Toxiproxy software and documentation

        ### Stripe Inc - Developer Intern
        * January 2016 - April 2016 (Systems Team)
          * Worked on implementing an improved webhook queuing system

        ### Shopify Inc - Developer Intern
        * May 2015 - August 2015 (Developer Tools Team)
          * Worked with a team to switch CI testing over to Buildkite
          * Improved CI runtimes by implementing more advanced queuing techniques.
        * September 2014 - December 2014 (Stack / Resiliency Team)
          * Developed [Toxiproxy](https://github.com/Shopify/toxiproxy) for resiliency testing
          * Improved existing "chaos monkey" resiliency testing service
        * January 2014 - April 2014 (Operations Team)
          * Implemented Collins (developed by Tumblr) for infrastructure management
          * Was part of patching Heartbleed across all servers
        * May 2013 - August 2013 (Security Team)
          * Implemented audit trail logging within Shopify core
          * Developed some credit card processing code / services

        ### Sage Data Solutions - Software Developer
        * Summer 2012 and 2011
          * Updated existing software to fix bugs and improve performance
          * Developed a web reporting utility to fit the needs of a client
          * Developed a new piece of software for tracking security patrols (On Desktop, Handheld, and Web)
          * Technologies Used: Visual C#, Visual Basic, PostgreSQL, HTML, CSS, ASP.NET, Mercurial

    .page_break

    article
      h2 Significant Projects
      h3
        | For more details, source code, and other projects see 
        a(href='https://github.com/xthexder') xthexder
        |  and 
        a(href='https://github.com/frustra') frustra
        |  on github.
      br

      :markdown
        * [Stray Photons](https://frustra.org/strayphotons) - Capstone Design Project (2017)
          * A novel implementation of Global Illumination in 3D rendering
          * Uses advanced lighting techniques to create unique puzzle mechanics
          * Awarded 3rd place prize at the UWaterloo Software Engineering Design Symposium
          * Created from scratch using C++, OpenGL, and GLSL
        * [Toxiproxy](https://github.com/Shopify/toxiproxy) - Resiliency testing proxy (2015)
          * Developed at Shopify for programatically simulating network conditions in tests
          * Has gained a fairly large following on Github
          * Created using Go
        * [mods.io](https://mods.io/index) - Minecraft Mod Hosting (2014)
          * File hosting for Minecraft mods that pays authors a revenue share
          * Created using Go, Revel, Gorp, MySQL, Redis
        * cdn.frustra.org - Custom built, high performance CDN (2014)
          * Serves files for [mods.io](https://mods.io/mods) and [portal2sounds.com](http://www.portal2sounds.com)
          * Location based routing, low cost, high benchmark figures (4000 req/s per $5 server)
          * Created using Varnish, nginx (For SSL proxying), Route53 (DNS), DigitalOcean servers
        * [BBCode Compiler](https://github.com/frustra/bbcode) (2014)
          * A very fast BBCode parser and compiler for rendering html pages
          * Created using Go
        * [Wat Do?](http://wat-do.com) - Time Management Utility (2013)
          * Prioritizes and displays assignments in an easy to use web interface
          * Created using Node.js, Jade, LESS, MongoDB
        * [Custom 3D Renderer](https://github.com/xthexder/3d-projector) (2012)
          * Renders objects on the CPU without using any external libraries
          * Created using Java
        * [TetrUs](http://tetrus.frustra.org/) - Co-operative Multiplayer Tetris (2011, Updated 2014)
          * Uses peer-to-peer networking for connecting between players
          * Created using Node.js, Javascript, Web Sockets and WebRTC
          * Originally created using Java and Java Sockets
        * MyCraft - Minecraft Mod Loader (2011)
          * Uses Java bytecode manipulation to modify minecraft and load mods
          * Over its life, MyCraft received over 1,000,000 unique downloads
          * Created using Java, ASM Library (Previously used BCEL)

    article
      h2 Awards and Achievements

      section.light
        :markdown
          * [3rd Place Capstone Design Project](https://twitter.com/uWaterlooSE/status/846868916987154432) (Software Engineering, University of Waterloo, 2017)
          * Software Engineering Entrance Scholarship (University of Waterloo, 2012)
          * Honourable Mention, Canadian Computing Competition (University of Waterloo, Senior, [2011](http://cemc.uwaterloo.ca/contests/computing/2011/stage1/2011CCCStage1Results.pdf) and [2012](http://cemc.uwaterloo.ca/contests/computing/2012/stage1/2012CCCStage1Results.pdf))
          * Completed [Stripe - Capture the Flag 2.0](https://stripe.com/blog/capture-the-flag-20), (#709, 2012)
          * Completed / 1st Place [Stripe - CTF3](https://stripe.com/blog/ctf3-launch) (#1, 2014) [Writeup](https://github.com/xthexder/stripe-ctf-3.0)
