doctype html
html
  head
    title Jacob Wirth
    //if lt IE 9
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    link(type='text/css', rel='stylesheet', href='/resume.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style(media='print').
      a {
        border: none !important;
      }
      h2 {
        background: none !important;
        color: black !important;
        border: solid 1px black !important;
      }
      body {
        width: 700px;
        font-size: 13px;
      }
      body > article > section {
        margin-left: 5px;
      }

  body
    header
      h1 Jacob Wirth

      table
        tr
          th.left February 2015
          th
          th.right Contact:
        tr
          td.left Home Address: Ottawa ON, Canada
          td Github: xthexder
          td.right jacob.wirth@sympatico.ca
        tr
          td.left School Address: Waterloo ON, Canada
          td: a(href='http://code.jacobwirth.ca/') code.jacobwirth.ca
          td.right (226) 600-6547

    article
      h2 Technical Qualifications

      section.first
        :markdown
          * Programming Languages
            * Java (6 years)
              * Thorough knowledge of libraries
              * Low level bytecode and JVM knowledge
              * Reverse engineering experience
            * Ruby (2 years)
              * Experience with testing libraries (TDD)
              * Chef / Cookbooks experience
            * Golang (3 years)
              * Concurrent program design
              * HTTP / other networking experience
              * Experience with testing libraries (TDD)
            * C, C++ (3 years), OpenGL, GLSL (2 years)
              * Experience with 3D rendering techniques
            * Bash / Shell scripting (2 years)
          * Databases
            * MySQL, Sqlite, PostgreSQL, MongoDB
          * Source Control
            * Git, Mercurial, Subversion
            * Travis CI, CircleCI, Jenkins CI

      section
        :markdown
          * Web Experience
            * Markups and Syntax:
              * HTML, CSS, Various Templating Languages
              * JSON, Yaml, Regular Expressions
            * Client Side:
              * Javascript, jQuery, AJAX (6 years)
              * Angular.js, various other libraries (1 year)
            * Server Side:
              * Golang (3 years)
              * Node.js (4 years)
              * Ruby (2 year)
              * PHP (4 years)
            * Web Services: Nginx, Varnish, Apache
          * Operating Systems
            * Linux: Arch Linux, Debian, Ubuntu, CentOS
            * Mac OS X, Microsoft Windows
          * Hardware Experience
            * Programming embedded systems
            * Circuit design / assembly, board design, soldering
            * Operating hardware test equipment

    article#work-experience
      h2 Work Experience

      :markdown
        ### Developer Intern - Shopify Inc
        * September 2014 - December 2014 (Stack / Resiliency Team)
          * Developed [Toxiproxy](https://github.com/Shopify/toxiproxy) for resiliency testing
          * Improved existing "chaos monkey" resiliency testing service
          * Helped with development of Liquid-c
        * January 2014 - April 2014 (Operations Team)
          * Set up servers and wrote Chef scripts
          * Implemented Collins (developed by Tumblr) for infrastructure management
          * Was part of patching Heartbleed across all servers
        * May 2013 - August 2013 (Security Team)
          * Implemented audit trail logging within Shopify core
          * Patched various security vulnerabilities
          * Developed some credit card processing code/services

        ### Software Developer - Sage Data Solutions
        * Summer 2012 and 2011
          * Updated existing software to fix bugs and improve performance
          * Developed a web reporting utility to fit the needs of a client
          * Developed a new piece of software for tracking security patrols (On Desktop, Handheld, and Web)
          * Technologies Used: Visual C#, Visual Basic, PostgreSQL, HTML, CSS, ASP.NET, Mercurial

    .page_break

    article
      h2 Relevant Projects
      h3
        | For more details, source code, and other projects see 
        a(href='https://github.com/xthexder') xthexder
        |  and 
        a(href='https://github.com/frustra') frustra
        |  on github.
      br

      :markdown
        * [mods.io](https://mods.io/index) - Minecraft Mod Hosting (2014)
          * File hosting for Minecraft mods that pays authors a revenue share
          * Created using Golang, Revel, Gorp, MySQL, Redis
        * cdn.frustra.org - Custom built, high performance CDN (2014)
          * Serves files for [mods.io](https://mods.io/mods) and [portal2sounds.com](http://www.portal2sounds.com)
          * Location based routing, low cost, high benchmark figures (4000 req/s per $5 server!)
          * Created using Varnish, nginx (For SSL proxying), Route53 (DNS), DigitalOcean servers
        * [BBCode Compiler](https://github.com/frustra/bbcode) (2014)
          * A very fast BBCode parser and compiler for rendering html pages
          * Created using Golang
        * [Wat Do?](http://wat-do.com) - Time Management Utility (2013)
          * Prioritizes and displays assignments in an easy to use web interface
          * Created using Node.js, Jade, LESS, MongoDB
        * [Custom 3D Renderer](https://github.com/xthexder/3d-projector) (2012)
          * Renders objects on the CPU without using any external libraries
          * Created using Java
        * Real-Time Fractal Generator (2012)
          * Renders an interactive Julia Set using the GPU
          * Created using GLSL, OpenGL, and C++
        * [TetrUs](http://tetrus.frustra.org/) - Co-operative Multiplayer Tetris (2011)
          * Uses peer-to-peer networking for connecting between players
          * Created using Node.js, Javascript, Web Sockets and WebRTC
          * Originally created using Java and Java Sockets
        * MyCraft - Minecraft Mod Loader (2011)
          * Uses java bytecode manipulation to modify minecraft and load mods
          * Created using Java, ASM Library (Previously used BCEL)

    article
      h2 Awards and Achievements

      section.light
        :markdown
          * Software Engineering Entrance Scholarship (University of Waterloo, 2012)
          * 100%, Grade 12 Programming course - taken in Grade 11. (Sir Robert Borden High School, 2011)
          * Proficiency Award in Computer Science (Sir Robert Borden High School, 2011)
          * Honourable Mention, Canadian Computing Competition (University of Waterloo, Senior, [2011](http://cemc.uwaterloo.ca/contests/computing/2011/stage1/2011CCCStage1Results.pdf) and [2012](http://cemc.uwaterloo.ca/contests/computing/2012/stage1/2012CCCStage1Results.pdf))
          * Completed [Stripe - Capture the Flag 2.0](https://stripe.com/blog/capture-the-flag-20), #709, 2012)
          * Completed / 1st Place [Stripe - CTF3](https://stripe.com/blog/ctf3-launch) (#1, 2014) [Writeup](https://github.com/xthexder/stripe-ctf-3.0)
          * Top 10 ranking on several Dwite.ca programming contents rounds (2010 - 2012, Team: [Pikachu Bread](http://dwite.ca/home/team/603.html))

    article
      h2 Education

      :markdown
        * Candidate for Bachelor of Software Engineering - Co-op Program
          * University of Waterloo  
            September 2012 - Present
        * Ontario Secondary School Diploma
          * Sir Robert Borden High School  
            September 2008 - June 2012
            * Ontario Scholar 2012
            * Academic Honours 2010, 2011
