.title {
  float: left;
  margin: 50px;

  font-size: 80px;
  line-height: 80px;
  color: #FFF;
}

.project {
  float: left;
  margin: 50px;

  transition: all 300ms;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;

  img {
    display: block;

    &.portrait {
      width: 200px;
    }

    &.landscape {
      height: 200px;
    }
  }
}