// reset

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
  display: block;
}

a img {
  border: 0;
}

html {
  height: 100%;

  body {
    background-color: black;
    height: 100%;

    #overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;

      overflow: hidden;

      .glshadow {
        position: absolute;
        background: #444444;
        transition: all 1000ms;
        -moz-transition: all 1000ms;
        -webkit-transition: all 1000ms;
        -o-transition: all 1000ms;
      }

      #rect1 {
        left: 310px;
        top: 180px;
        width: 90px;
        height: 40px;
      }

      #rect2 {
        left: 110px;
        top: 300px;
        width: 290px;
        height: 80px;
      }

      #rect3 {
        left: 170px;
        top: 100px;
        width: 30px;
        height: 150px;
      }

      #rect4 {
        left: 570px;
        top: 300px;
        width: 30px;
        height: 150px;
      }
    }
    
    #glcanvas {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}