// reset

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
  display: block;
}

a img {
  border: 0;
}

html {
  height: 100%;

  body {
    background-color: #444444;
    font-family: 'Carrois Gothic', sans-serif;
    min-width: 960px;
    height: 100%;
    
    #spacer {
      float: left;
      width: 0px;
      height: 84px;
      background: transparent;
    }

    #navbar {
      position: absolute;
      float: left;
      height: 50px;
      width: 100%;
      background-color: #BB7777;
      z-index: 50;

      //.box-shadow(0px 5px 5px #222222);
    }
  }
}
